@charset "UTF-8";
/* 
z-index 管理

用法如 :
.sidebar_mapgame{
    z-index: index($zindex, sidebar_mapgame);
}

 */
@media (min-width: 0px) {
  /* line 3, ../../../sass/controller/frontend/about.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 640px) {
  /* line 3, ../../../sass/controller/frontend/about.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1280px) {
  /* line 3, ../../../sass/controller/frontend/about.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0px) {
  /* line 18, ../../../sass/controller/frontend/about.scss */
  .container .banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 209px;
    background-image: url("../../../../images/about/banner-01.png");
    margin-bottom: 38px;
  }
}
@media (min-width: 1280px) {
  /* line 18, ../../../sass/controller/frontend/about.scss */
  .container .banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 648px;
    background-image: url("../../../../images/about/banner-02.png");
    margin-bottom: 64px;
  }
}
@media (min-width: 0px) {
  /* line 37, ../../../sass/controller/frontend/about.scss */
  .container .info {
    padding: 0 20px;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  /* line 37, ../../../sass/controller/frontend/about.scss */
  .container .info {
    padding: 0px;
    margin-left: 16.81682%;
    margin-right: 16.81682%;
  }
}
@media (min-width: 0px) {
  /* line 54, ../../../sass/controller/frontend/about.scss */
  .container .info .slogan {
    font-size: 28px;
    line-height: 69px;
    border-top: 2px solid #D4D4D4;
    border-bottom: 2px solid #D4D4D4;
    margin-bottom: 38px;
  }
}
@media (min-width: 1280px) {
  /* line 54, ../../../sass/controller/frontend/about.scss */
  .container .info .slogan {
    font-size: 60px;
    line-height: 130px;
  }
}
@media (min-width: 0px) {
  /* line 76, ../../../sass/controller/frontend/about.scss */
  .container .info .content {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
  }
}
@media (min-width: 640px) {
  /* line 76, ../../../sass/controller/frontend/about.scss */
  .container .info .content {
    opacity: 1;
  }
}
@media (min-width: 1280px) {
  /* line 76, ../../../sass/controller/frontend/about.scss */
  .container .info .content {
    opacity: 0;
  }
}
@media (min-width: 0px) {
  /* line 92, ../../../sass/controller/frontend/about.scss */
  .container .info .content .iconsite {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 38px;
    height: 100%;
  }
}
@media (min-width: 1280px) {
  /* line 92, ../../../sass/controller/frontend/about.scss */
  .container .info .content .iconsite {
    margin-bottom: 0;
    width: 24.32432%;
    float: left;
    margin-right: 0.9009%;
  }
}
@media (min-width: 1280px) {
  /* line 110, ../../../sass/controller/frontend/about.scss */
  .container .info .content .iconsite .iimg {
    max-width: 99%;
  }
}
@media (min-width: 1280px) {
  /* line 128, ../../../sass/controller/frontend/about.scss */
  .container .info .content .iconsite .mobile {
    display: none;
  }
}
@media (min-width: 0px) {
  /* line 143, ../../../sass/controller/frontend/about.scss */
  .container .info .content .iconsite .desktop {
    display: none;
  }
}
@media (min-width: 1280px) {
  /* line 143, ../../../sass/controller/frontend/about.scss */
  .container .info .content .iconsite .desktop {
    display: inline-block;
  }
}
@media (min-width: 0px) {
  /* line 161, ../../../sass/controller/frontend/about.scss */
  .container .info .content .desc {
    margin-bottom: 38px;
  }
}
@media (min-width: 1280px) {
  /* line 161, ../../../sass/controller/frontend/about.scss */
  .container .info .content .desc {
    width: 74.77477%;
    float: right;
    margin-right: 0;
    text-align: left;
  }
}
@media (min-width: 0px) {
  /* line 177, ../../../sass/controller/frontend/about.scss */
  .container .info .content .desc p {
    line-height: 1.5em;
    margin-bottom: 14px;
    font-size: 10px;
    color: #898176;
  }
}
@media (min-width: 1280px) {
  /* line 177, ../../../sass/controller/frontend/about.scss */
  .container .info .content .desc p {
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 18px;
  }
}
/* line 198, ../../../sass/controller/frontend/about.scss */
.container .info .content .desc p:last-child {
  margin-bottom: 0px;
}
