@charset "UTF-8";
/* 
z-index 管理

用法如 :
.sidebar_mapgame{
    z-index: index($zindex, sidebar_mapgame);
}

 */
@media (min-width: 0px) {
  /* line 7, ../../../sass/controller/frontend/careers.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI4OS4yODU3MSUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iODkuMjg1NzElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(89.28571%, rgba(179, 179, 255, 0.25)), color-stop(89.28571%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 89.28571%, rgba(0, 0, 0, 0) 89.28571%);
    background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 89.28571%, rgba(0, 0, 0, 0) 89.28571%);
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 89.28571%, rgba(0, 0, 0, 0) 89.28571%);
    background-size: 25.68807%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
    padding: 0;
    margin-top: 32px;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 640px) {
  /* line 7, ../../../sass/controller/frontend/careers.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI4OS4yODU3MSUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iODkuMjg1NzElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(89.28571%, rgba(179, 179, 255, 0.25)), color-stop(89.28571%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 89.28571%, rgba(0, 0, 0, 0) 89.28571%);
    background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 89.28571%, rgba(0, 0, 0, 0) 89.28571%);
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 89.28571%, rgba(0, 0, 0, 0) 89.28571%);
    background-size: 8.40841%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1024px) {
  /* line 7, ../../../sass/controller/frontend/careers.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI4OS4yODU3MSUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iODkuMjg1NzElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(89.28571%, rgba(179, 179, 255, 0.25)), color-stop(89.28571%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 89.28571%, rgba(0, 0, 0, 0) 89.28571%);
    background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 89.28571%, rgba(0, 0, 0, 0) 89.28571%);
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 89.28571%, rgba(0, 0, 0, 0) 89.28571%);
    background-size: 5.58882%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
    margin-top: 64px;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0px) {
  /* line 27, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  /* line 27, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc {
    width: 32.93413%;
    float: left;
    margin-right: 0.5988%;
    margin-left: 33.53293%;
    margin-right: 33.53293%;
  }
}
@media (min-width: 0px) {
  /* line 44, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 32px;
    padding: 0 18px;
    color: #465163;
  }
}
@media (min-width: 1024px) {
  /* line 44, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc .title {
    font-size: 30px;
    padding: 0;
  }
}
@media (min-width: 0px) {
  /* line 67, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc .content {
    margin-bottom: 64px;
    line-height: 1.5em;
    font-size: 11px;
    padding: 0 18px;
    color: #898176;
  }
}
@media (min-width: 1024px) {
  /* line 67, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc .content {
    padding: 0px;
    font-size: 16px;
  }
}
@media (min-width: 0px) {
  /* line 90, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  /* line 90, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist {
    width: 66.46707%;
    float: left;
    margin-right: 0.5988%;
    margin-left: 16.76647%;
    margin-right: 16.76647%;
    background: #eeeeee;
    padding: 64px;
    margin-bottom: 148px;
  }
}
@media (min-width: 0px) {
  /* line 110, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 18px 18px 32px 18px;
  }
}
@media (min-width: 1024px) {
  /* line 110, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item {
    width: 324px;
    height: 304px;
    clear: none;
    margin-right: 64px;
    margin-bottom: 0;
    padding: 32px;
  }
}
/* line 132, ../../../sass/controller/frontend/careers.scss */
.container .seri .itemlist .item:last-child {
  margin-right: 0;
}
@media (min-width: 0px) {
  /* line 138, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item:nth-child(odd) {
    background: #eeeeee;
  }
}
@media (min-width: 1024px) {
  /* line 138, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item:nth-child(odd) {
    background: white;
  }
}
/* line 154, ../../../sass/controller/frontend/careers.scss */
.container .seri .itemlist .item:nth-child(even) {
  background: white;
}
@media (min-width: 0px) {
  /* line 160, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
}
@media (min-width: 1024px) {
  /* line 160, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner {
    height: 100%;
  }
}
@media (min-width: 0px) {
  /* line 177, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info {
    width: 251px;
    float: left;
  }
}
@media (min-width: 1024px) {
  /* line 177, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info {
    text-align: center;
  }
}
@media (min-width: 0px) {
  /* line 195, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
    color: #465163;
  }
}
@media (min-width: 1024px) {
  /* line 195, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .title {
    font-size: 30px;
    margin-bottom: 18px;
  }
}
@media (min-width: 0px) {
  /* line 218, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .date {
    margin-bottom: 28px;
    font-size: 12px;
    color: #898176;
  }
}
@media (min-width: 1024px) {
  /* line 218, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .date {
    margin-bottom: 54px;
    font-size: 16px;
  }
}
@media (min-width: 0px) {
  /* line 238, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .text {
    font-size: 11px;
    color: #898176;
  }
}
@media (min-width: 1024px) {
  /* line 238, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .text {
    font-size: 16px;
    line-height: 1.5em;
  }
}
@media (min-width: 0px) {
  /* line 261, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .apply_block {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
@media (min-width: 1024px) {
  /* line 261, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .apply_block {
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
  }
}
@media (min-width: 0px) {
  /* line 283, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .apply_block .apply {
    background: #4789c7;
    color: white;
    font-size: 16px;
    border: none;
    width: 110px;
    height: 30px;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
@media (min-width: 1024px) {
  /* line 283, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .apply_block .apply {
    width: 185px;
    height: 50px;
    font-size: 24px;
  }
}
@media (min-width: 0px) {
  /* line 314, ../../../sass/controller/frontend/careers.scss */
  .container .float_page {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    display: none;
  }
}
@media (min-width: 1024px) {
  /* line 314, ../../../sass/controller/frontend/careers.scss */
  .container .float_page {
    overflow-y: scroll;
    height: 100%;
  }
}
@media (min-width: 0px) {
  /* line 336, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    display: none;
  }
}
@media (min-width: 1024px) {
  /* line 336, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container {
    width: 66.46707%;
    margin: 0 16.16766%;
  }
}
@media (min-width: 0px) {
  /* line 356, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    padding: 64px 18px 40px 18px;
    position: relative;
    background: #eeeeee;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  /* line 356, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 120px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 64px 0.9009%;
  }
}
@media (min-width: 0px) {
  /* line 380, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .closebtn {
    cursor: pointer;
    background: #fe5050;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
@media (min-width: 1024px) {
  /* line 380, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .closebtn {
    display: none;
  }
}
/* line 402, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .closebtn .line {
  width: calc(100% - 5px);
  height: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: white;
  position: absolute;
  top: 10px;
  left: 2px;
}
/* line 413, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .closebtn .line:before {
  content: '';
}
/* line 418, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .closebtn .line.item-1 {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 423, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .closebtn .line.item-2 {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (min-width: 0px) {
  /* line 430, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  /* line 430, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info {
    width: 66.36637%;
    float: left;
    margin-right: 0.9009%;
    margin-left: 16.81682%;
    margin-right: 16.81682%;
    margin-bottom: 64px;
  }
}
@media (min-width: 0px) {
  /* line 448, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #465163;
  }
}
@media (min-width: 1024px) {
  /* line 448, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .title {
    font-size: 30px;
    width: 61.99095%;
    float: left;
    margin-right: 1.35747%;
  }
}
@media (min-width: 0px) {
  /* line 469, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .sharesite {
    display: none;
  }
}
@media (min-width: 1024px) {
  /* line 469, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .sharesite {
    display: block;
    width: 36.65158%;
    float: right;
    margin-right: 0;
    text-align: right;
  }
}
/* line 486, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .info .sharesite i {
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}
/* line 492, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .info .sharesite i:last-child {
  margin-right: 0px;
}
/* line 497, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .info .sharesite i.facebook {
  background-image: url("../../../../images/careers/Facebook.png");
  width: 12px;
  height: 20px;
}
/* line 503, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .info .sharesite i.linkedin {
  background-image: url("../../../../images/careers/LinkedIn.png");
  width: 22px;
  height: 21px;
}
/* line 509, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .info .sharesite i.twitter {
  background-image: url("../../../../images/careers/Twitter.png");
  width: 21px;
  height: 18px;
}
@media (min-width: 0px) {
  /* line 519, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .date {
    font-size: 11px;
    margin-bottom: 20px;
    color: #898176;
  }
}
@media (min-width: 640px) {
  /* line 519, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .date {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  /* line 519, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .date {
    clear: both;
  }
}
@media (min-width: 0px) {
  /* line 538, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .desc {
    font-size: 11px;
    line-height: 1.5em;
    color: #898176;
  }
}
@media (min-width: 1024px) {
  /* line 538, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .desc {
    font-size: 16px;
  }
}
@media (min-width: 0px) {
  /* line 560, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist {
    margin: 40px 0;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  /* line 560, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist {
    margin: 0 0 32px 0;
  }
}
@media (min-width: 0px) {
  /* line 577, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item {
    background: white;
    padding: 16px;
    margin-bottom: 16px;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  /* line 577, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item {
    width: 49.54955%;
    float: left;
    height: 400px;
    padding: 32px 85px;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container .float_page .float_container .wrap .resplist .item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container .float_page .float_container .wrap .resplist .item:nth-child(2n + 2) {
    margin-left: 50.45045%;
    margin-right: -100%;
    clear: none;
  }
}
/* line 597, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .resplist .item:last-child {
  margin-bottom: 0px;
}
@media (min-width: 0px) {
  /* line 603, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item .title {
    font-size: 14px;
    margin-bottom: 13px;
    color: #465163;
  }
}
@media (min-width: 1024px) {
  /* line 603, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item .title {
    font-size: 24px;
    margin-bottom: 34px;
  }
}
/* line 624, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .resplist .item ul {
  list-style: disc outside;
  margin-left: 1em;
}
@media (min-width: 0px) {
  /* line 629, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item ul li {
    font-size: 11px;
    line-height: 1.5em;
    color: #898176;
  }
}
@media (min-width: 1024px) {
  /* line 629, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item ul li {
    font-size: 16px;
  }
}
@media (min-width: 0px) {
  /* line 653, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .fstr {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.5em;
    font-size: 11px;
    color: #898176;
  }
}
@media (min-width: 1024px) {
  /* line 653, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .fstr {
    width: 66.36637%;
    float: left;
    margin-right: 0.9009%;
    margin-left: 16.81682%;
    margin-right: 16.81682%;
    font-size: 16px;
  }
}
@media (min-width: 0px) {
  /* line 676, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .btsite {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 67px;
    line-height: 67px;
    background: #d2d2d2;
    text-align: center;
    z-index: 3;
  }
}
@media (min-width: 1024px) {
  /* line 676, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .btsite {
    position: initial;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: none;
    height: initial;
    line-height: initial;
  }
}
@media (min-width: 0px) {
  /* line 705, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .btsite .apply {
    background: #4789c7;
    color: white;
    width: 110px;
    height: 32px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
@media (min-width: 1024px) {
  /* line 705, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .btsite .apply {
    width: 186px;
    height: 50px;
    font-size: 24px;
  }
}

/* line 760, ../../../sass/controller/frontend/careers.scss */
.pagecolor {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  display: none;
}
