@charset "UTF-8";
/* 
z-index 管理

用法如 :
.sidebar_mapgame{
    z-index: index($zindex, sidebar_mapgame);
}

 */
/**
 * 按鈕色彩
 */
@media (min-width: 0px) {
  /* line 7, ../../../sass/controller/frontend/careers.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 32px;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 640px) {
  /* line 7, ../../../sass/controller/frontend/careers.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1280px) {
  /* line 7, ../../../sass/controller/frontend/careers.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0px) {
  /* line 27, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  /* line 27, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc {
    width: 32.93413%;
    float: left;
    margin-right: 0.5988%;
    margin-left: 33.53293%;
    margin-right: 33.53293%;
  }
}
@media (min-width: 0px) {
  /* line 44, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 32px;
    padding: 0 18px;
    color: #465163;
  }
}
@media (min-width: 1280px) {
  /* line 44, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc .title {
    font-size: 30px;
    padding: 0;
  }
}
@media (min-width: 0px) {
  /* line 67, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc .content {
    margin-bottom: 64px;
    line-height: 1.5em;
    font-size: 11px;
    padding: 0 18px;
    color: #898176;
  }
}
@media (min-width: 1280px) {
  /* line 67, ../../../sass/controller/frontend/careers.scss */
  .container .seri .desc .content {
    padding: 0px;
    font-size: 16px;
  }
}
@media (min-width: 0px) {
  /* line 90, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  /* line 90, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist {
    width: 66.46707%;
    float: left;
    margin-right: 0.5988%;
    margin-left: 16.76647%;
    margin-right: 16.76647%;
    background: #eeeeee;
    padding: 64px;
    margin-bottom: 148px;
  }
}
@media (min-width: 0px) {
  /* line 110, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 18px 18px 32px 18px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1280px) {
  /* line 110, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item {
    width: 324px;
    height: 304px;
    clear: none;
    margin-right: 64px;
    margin-bottom: 0;
    padding: 32px;
  }
}
/* line 131, ../../../sass/controller/frontend/careers.scss */
.container .seri .itemlist .item:last-child {
  margin-right: 0;
}
@media (min-width: 0px) {
  /* line 137, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item:nth-child(odd) {
    background: #eeeeee;
  }
}
@media (min-width: 1280px) {
  /* line 137, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item:nth-child(odd) {
    background: white;
  }
}
/* line 153, ../../../sass/controller/frontend/careers.scss */
.container .seri .itemlist .item:nth-child(even) {
  background: white;
}
@media (min-width: 0px) {
  /* line 159, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
}
@media (min-width: 1280px) {
  /* line 159, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner {
    height: 100%;
  }
}
@media (min-width: 0px) {
  /* line 176, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info {
    width: 251px;
    float: left;
  }
}
@media (min-width: 1280px) {
  /* line 176, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info {
    text-align: center;
  }
}
@media (min-width: 0px) {
  /* line 194, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
    color: #465163;
  }
}
@media (min-width: 1280px) {
  /* line 194, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .title {
    font-size: 30px;
    margin-bottom: 18px;
  }
}
@media (min-width: 0px) {
  /* line 217, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .date {
    margin-bottom: 28px;
    font-size: 12px;
    color: #898176;
  }
}
@media (min-width: 1280px) {
  /* line 217, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .date {
    margin-bottom: 54px;
    font-size: 16px;
  }
}
@media (min-width: 0px) {
  /* line 237, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .text {
    font-size: 11px;
    color: #898176;
  }
}
@media (min-width: 1280px) {
  /* line 237, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .info .text {
    font-size: 16px;
    line-height: 1.5em;
  }
}
@media (min-width: 0px) {
  /* line 260, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .apply_block {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
@media (min-width: 1280px) {
  /* line 260, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .apply_block {
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
  }
}
@media (min-width: 0px) {
  /* line 282, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .apply_block .apply {
    background: #4789c7;
    color: white;
    font-size: 16px;
    border: none;
    width: 110px;
    height: 30px;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
@media (min-width: 1280px) {
  /* line 282, ../../../sass/controller/frontend/careers.scss */
  .container .seri .itemlist .item .inner .apply_block .apply {
    width: 185px;
    height: 50px;
    font-size: 24px;
  }
}
@media (min-width: 0px) {
  /* line 313, ../../../sass/controller/frontend/careers.scss */
  .container .float_page {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    display: none;
  }
}
@media (min-width: 1280px) {
  /* line 313, ../../../sass/controller/frontend/careers.scss */
  .container .float_page {
    overflow-y: scroll;
    height: 100%;
  }
}
@media (min-width: 0px) {
  /* line 335, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    display: none;
  }
}
@media (min-width: 1280px) {
  /* line 335, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container {
    width: 66.46707%;
    margin: 0 16.16766%;
  }
}
@media (min-width: 0px) {
  /* line 355, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    padding: 64px 18px 40px 18px;
    position: relative;
    background: #eeeeee;
    margin-bottom: 64px;
  }
}
@media (min-width: 1280px) {
  /* line 355, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 120px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 64px 0.9009%;
  }
}
@media (min-width: 0px) {
  /* line 379, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .closebtn {
    cursor: pointer;
    background: #fe5050;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
@media (min-width: 1280px) {
  /* line 379, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .closebtn {
    display: none;
  }
}
/* line 401, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .closebtn .line {
  width: calc(100% - 5px);
  height: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: white;
  position: absolute;
  top: 10px;
  left: 2px;
}
/* line 412, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .closebtn .line:before {
  content: '';
}
/* line 417, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .closebtn .line.item-1 {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 422, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .closebtn .line.item-2 {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (min-width: 0px) {
  /* line 429, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  /* line 429, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info {
    width: 66.36637%;
    float: left;
    margin-right: 0.9009%;
    margin-left: 16.81682%;
    margin-right: 16.81682%;
    margin-bottom: 64px;
  }
}
@media (min-width: 0px) {
  /* line 447, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #465163;
  }
}
@media (min-width: 1280px) {
  /* line 447, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .title {
    font-size: 30px;
    width: 61.99095%;
    float: left;
    margin-right: 1.35747%;
  }
}
@media (min-width: 0px) {
  /* line 468, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .sharesite {
    display: none;
  }
}
@media (min-width: 1280px) {
  /* line 468, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .sharesite {
    display: block;
    width: 36.65158%;
    float: right;
    margin-right: 0;
    text-align: right;
  }
}
/* line 485, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .info .sharesite i {
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}
/* line 491, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .info .sharesite i:last-child {
  margin-right: 0px;
}
/* line 496, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .info .sharesite i.facebook {
  background-image: url("../../../../images/careers/Facebook.png");
  width: 12px;
  height: 20px;
}
/* line 502, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .info .sharesite i.linkedin {
  background-image: url("../../../../images/careers/LinkedIn.png");
  width: 22px;
  height: 21px;
}
/* line 508, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .info .sharesite i.twitter {
  background-image: url("../../../../images/careers/Twitter.png");
  width: 21px;
  height: 18px;
}
@media (min-width: 0px) {
  /* line 518, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .date {
    font-size: 11px;
    margin-bottom: 20px;
    color: #898176;
  }
}
@media (min-width: 640px) {
  /* line 518, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .date {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  /* line 518, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .date {
    clear: both;
  }
}
@media (min-width: 0px) {
  /* line 537, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .desc {
    font-size: 11px;
    line-height: 1.5em;
    color: #898176;
  }
}
@media (min-width: 1280px) {
  /* line 537, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .info .desc {
    font-size: 16px;
  }
}
@media (min-width: 0px) {
  /* line 559, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist {
    margin: 40px 0;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  /* line 559, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist {
    margin: 0 0 32px 0;
  }
}
@media (min-width: 0px) {
  /* line 576, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item {
    background: white;
    padding: 16px;
    margin-bottom: 16px;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  /* line 576, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item {
    width: 49.54955%;
    float: left;
    height: 400px;
    padding: 32px 85px;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container .float_page .float_container .wrap .resplist .item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container .float_page .float_container .wrap .resplist .item:nth-child(2n + 2) {
    margin-left: 50.45045%;
    margin-right: -100%;
    clear: none;
  }
}
/* line 596, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .resplist .item:last-child {
  margin-bottom: 0px;
}
@media (min-width: 0px) {
  /* line 602, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item .title {
    font-size: 14px;
    margin-bottom: 13px;
    color: #465163;
  }
}
@media (min-width: 1280px) {
  /* line 602, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item .title {
    font-size: 24px;
    margin-bottom: 34px;
  }
}
/* line 623, ../../../sass/controller/frontend/careers.scss */
.container .float_page .float_container .wrap .resplist .item ul {
  list-style: disc outside;
  margin-left: 1em;
}
@media (min-width: 0px) {
  /* line 628, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item ul li {
    font-size: 11px;
    line-height: 1.5em;
    color: #898176;
  }
}
@media (min-width: 1280px) {
  /* line 628, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .resplist .item ul li {
    font-size: 16px;
  }
}
@media (min-width: 0px) {
  /* line 652, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .fstr {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.5em;
    font-size: 11px;
    color: #898176;
  }
}
@media (min-width: 1280px) {
  /* line 652, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .fstr {
    width: 66.36637%;
    float: left;
    margin-right: 0.9009%;
    margin-left: 16.81682%;
    margin-right: 16.81682%;
    font-size: 16px;
  }
}
@media (min-width: 0px) {
  /* line 675, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .btsite {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 67px;
    line-height: 67px;
    background: #d2d2d2;
    text-align: center;
    z-index: 3;
  }
}
@media (min-width: 1280px) {
  /* line 675, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .btsite {
    position: initial;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: none;
    height: initial;
    line-height: initial;
  }
}
@media (min-width: 0px) {
  /* line 704, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .btsite .apply {
    background: #4789c7;
    color: white;
    width: 110px;
    height: 32px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
@media (min-width: 1280px) {
  /* line 704, ../../../sass/controller/frontend/careers.scss */
  .container .float_page .float_container .wrap .btsite .apply {
    width: 186px;
    height: 50px;
    font-size: 24px;
  }
}

/* line 759, ../../../sass/controller/frontend/careers.scss */
.pagecolor {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  display: none;
}
