@charset "UTF-8";
/* 
z-index 管理

用法如 :
.sidebar_mapgame{
    z-index: index($zindex, sidebar_mapgame);
}

 */
/**
 * 按鈕色彩
 */
/* line 5, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../sass/helper/mixin/_current_screen.scss */
.current_screen {
  height: 0px;
  overflow: hidden;
}
/* line 14, ../../../sass/helper/mixin/_current_screen.scss */
.current_screen li {
  width: 1px;
  height: 1px;
}
@media (min-width: 0px) {
  /* line 21, ../../../sass/helper/mixin/_current_screen.scss */
  .current_screen .mobile {
    display: block;
  }
}
@media (min-width: 640px) {
  /* line 21, ../../../sass/helper/mixin/_current_screen.scss */
  .current_screen .mobile {
    display: none;
  }
}
@media (min-width: 1280px) {
  /* line 21, ../../../sass/helper/mixin/_current_screen.scss */
  .current_screen .mobile {
    display: none;
  }
}
@media (min-width: 0px) {
  /* line 28, ../../../sass/helper/mixin/_current_screen.scss */
  .current_screen .pad {
    display: none;
  }
}
@media (min-width: 640px) {
  /* line 28, ../../../sass/helper/mixin/_current_screen.scss */
  .current_screen .pad {
    display: block;
  }
}
@media (min-width: 1280px) {
  /* line 28, ../../../sass/helper/mixin/_current_screen.scss */
  .current_screen .pad {
    display: none;
  }
}
@media (min-width: 0px) {
  /* line 35, ../../../sass/helper/mixin/_current_screen.scss */
  .current_screen .desktop {
    display: none;
  }
}
@media (min-width: 640px) {
  /* line 35, ../../../sass/helper/mixin/_current_screen.scss */
  .current_screen .desktop {
    display: none;
  }
}
@media (min-width: 1280px) {
  /* line 35, ../../../sass/helper/mixin/_current_screen.scss */
  .current_screen .desktop {
    display: block;
  }
}

/* line 15, ../../../sass/controller/frontend/global.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../../../sass/controller/frontend/global.scss */
html, body {
  height: 100%;
  font-family: 'Fira Sans';
  font-weight: normal;
}

/* line 30, ../../../sass/controller/frontend/global.scss */
body {
  overflow-x: hidden;
}

/* line 35, ../../../sass/controller/frontend/global.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 40, ../../../sass/controller/frontend/global.scss */
a:visited {
  color: inherit;
}

/* line 47, ../../../sass/controller/frontend/global.scss */
.full, .container_wrap .page_frame, .container_wrap .page_frame .header .menu_pad li a, .container_wrap .page_frame .footer .menu li a, .container_wrap .page_frame .footer .link, .navbar_mobile .container_nav .menu_mobile li a {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 0px) {
  /* line 53, ../../../sass/controller/frontend/global.scss */
  .container_wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container_wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1280px) {
  /* line 53, ../../../sass/controller/frontend/global.scss */
  .container_wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container_wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0px) {
  /* line 66, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame {
    height: 100%;
  }
}
@media (min-width: 0px) {
  /* line 84, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    height: 42px;
    padding: 19px 18px 0 18px;
    position: relative;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container_wrap .page_frame .header:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1280px) {
  /* line 84, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    height: 100px;
    padding: 0 45px;
    -moz-box-shadow: 0px 0px 7px 0px #b3b3b3;
    -webkit-box-shadow: 0px 0px 7px 0px #b3b3b3;
    box-shadow: 0px 0px 7px 0px #b3b3b3;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container_wrap .page_frame .header:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0px) {
  /* line 103, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .header .logo {
    float: left;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 65px;
    height: 10px;
    background-image: url("../../../../images/global/logo.png");
  }
}
@media (min-width: 1280px) {
  /* line 103, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .header .logo {
    background-image: url("../../../../images/global/logo2.png");
    width: 242px;
    height: 68px;
    margin-top: 16px;
  }
}
@media (min-width: 0px) {
  /* line 120, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .header .gtn {
    float: right;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding-left: 15px;
    padding-top: 13px;
    position: absolute;
    right: 0px;
    top: 3px;
  }
}
@media (min-width: 1280px) {
  /* line 120, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .header .gtn {
    display: none;
  }
}
@media (min-width: 0px) {
  /* line 146, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .header .menu_pad {
    display: none;
  }
}
@media (min-width: 1280px) {
  /* line 146, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .header .menu_pad {
    display: block;
    height: 100%;
    width: 38.52295%;
    float: right;
    margin-right: 0;
  }
}
/* line 160, ../../../sass/controller/frontend/global.scss */
.container_wrap .page_frame .header .menu_pad li {
  width: 18.24818%;
  float: left;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.container_wrap .page_frame .header .menu_pad li:nth-child(5n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.container_wrap .page_frame .header .menu_pad li:nth-child(5n + 2) {
  margin-left: 20.43796%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.container_wrap .page_frame .header .menu_pad li:nth-child(5n + 3) {
  margin-left: 40.87591%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.container_wrap .page_frame .header .menu_pad li:nth-child(5n + 4) {
  margin-left: 61.31387%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.container_wrap .page_frame .header .menu_pad li:nth-child(5n + 5) {
  margin-left: 81.75182%;
  margin-right: -100%;
  clear: none;
}
/* line 167, ../../../sass/controller/frontend/global.scss */
.container_wrap .page_frame .header .menu_pad li a {
  text-align: center;
  height: 100%;
  line-height: 60px;
  font-size: 18px;
  color: inherit;
}
/* line 176, ../../../sass/controller/frontend/global.scss */
.container_wrap .page_frame .header .menu_pad li a.selected {
  color: #4789c7;
}
@media (min-width: 0px) {
  /* line 191, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background: #465163;
    color: white;
    padding: 18px 40px;
    font-size: 8px;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container_wrap .page_frame .footer:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1280px) {
  /* line 191, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer {
    height: 50px;
    font-size: 14px;
    padding: 0 45px;
  }
}
@media (min-width: 0px) {
  /* line 210, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .menu {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 17px;
  }
}
@media (min-width: 1280px) {
  /* line 210, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .menu {
    margin-bottom: 0px;
    height: 100%;
    width: 32.93413%;
    float: left;
    margin-right: 0.5988%;
  }
}
@media (min-width: 0px) {
  /* line 225, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .menu li {
    width: 22.93578%;
    float: left;
    text-align: center;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container_wrap .page_frame .footer .menu li:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container_wrap .page_frame .footer .menu li:nth-child(4n + 2) {
    margin-left: 25.68807%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container_wrap .page_frame .footer .menu li:nth-child(4n + 3) {
    margin-left: 51.37615%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container_wrap .page_frame .footer .menu li:nth-child(4n + 4) {
    margin-left: 77.06422%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 1280px) {
  /* line 225, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .menu li {
    height: 100%;
  }
}
@media (min-width: 1280px) {
  /* line 238, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .menu li a {
    height: 100%;
    line-height: 50px;
  }
}
@media (min-width: 0px) {
  /* line 255, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .ct {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto 10px auto;
    height: 12px;
    display: block;
  }
}
@media (min-width: 1280px) {
  /* line 255, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .ct {
    clear: none;
    width: 16.16766%;
    float: left;
    margin-right: 0.5988%;
    height: 100%;
    padding-top: 18px;
    margin: 0;
  }
}
@media (min-width: 0px) {
  /* line 275, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .ct .center {
    width: 150px;
    height: 1em;
    margin: 0 auto;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  /* line 275, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .ct .center {
    width: 100%;
    text-align: left;
  }
}
@media (min-width: 0px) {
  /* line 295, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .ct .center .flag {
    width: 19px;
    height: 12px;
    line-height: 12px;
    margin-right: 8px;
    display: inline-block;
  }
}
@media (min-width: 0px) {
  /* line 310, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .ct .center .text {
    display: inline-block;
    line-height: 12px;
    position: relative;
    top: -3px;
  }
}
/* line 333, ../../../sass/controller/frontend/global.scss */
.container_wrap .page_frame .footer .link {
  padding: 0 88px;
  line-height: 25px;
  height: 18px;
}
@media (min-width: 1280px) {
  /* line 333, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .link {
    clear: none;
    width: 10.57884%;
    float: right;
    margin-right: 0;
    padding: 14px 0 0 0;
    height: 100%;
    padding-top: 14px;
  }
}
/* line 350, ../../../sass/controller/frontend/global.scss */
.container_wrap .page_frame .footer .link .btn {
  height: inherit;
  width: 30.8642%;
  float: left;
  text-align: center;
}
/* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.container_wrap .page_frame .footer .link .btn:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.container_wrap .page_frame .footer .link .btn:nth-child(3n + 2) {
  margin-left: 34.5679%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.container_wrap .page_frame .footer .link .btn:nth-child(3n + 3) {
  margin-left: 69.1358%;
  margin-right: -100%;
  clear: none;
}
/* line 356, ../../../sass/controller/frontend/global.scss */
.container_wrap .page_frame .footer .link .btn i {
  width: 11px;
  height: 11px;
  display: inline-block;
}
@media (min-width: 1280px) {
  /* line 356, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .link .btn i {
    width: 23px;
    height: 15px;
  }
}
/* line 369, ../../../sass/controller/frontend/global.scss */
.container_wrap .page_frame .footer .link .btn i.f {
  background-image: url("../../../../images/global/icon-f-mobile.png");
}
@media (min-width: 1280px) {
  /* line 369, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .link .btn i.f {
    background-image: url("../../../../images/global/icon-f.png");
  }
}
/* line 378, ../../../sass/controller/frontend/global.scss */
.container_wrap .page_frame .footer .link .btn i.in {
  background-image: url("../../../../images/global/icon-in-mobile.png");
}
@media (min-width: 1280px) {
  /* line 378, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .link .btn i.in {
    background-image: url("../../../../images/global/icon-in.png");
  }
}
/* line 387, ../../../sass/controller/frontend/global.scss */
.container_wrap .page_frame .footer .link .btn i.tw {
  background-image: url("../../../../images/global/icon-tw-mobile.png");
}
@media (min-width: 1280px) {
  /* line 387, ../../../sass/controller/frontend/global.scss */
  .container_wrap .page_frame .footer .link .btn i.tw {
    background-image: url("../../../../images/global/icon-tw.png");
  }
}

@media (min-width: 0px) {
  /* line 404, ../../../sass/controller/frontend/global.scss */
  .navbar_mobile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    display: none;
  }
}
@media (min-width: 1280px) {
  /* line 404, ../../../sass/controller/frontend/global.scss */
  .navbar_mobile {
    display: none;
  }
}
@media (min-width: 0px) {
  /* line 425, ../../../sass/controller/frontend/global.scss */
  .navbar_mobile .container_nav {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .navbar_mobile .container_nav:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0px) {
  /* line 437, ../../../sass/controller/frontend/global.scss */
  .navbar_mobile .container_nav .menu_mobile {
    width: 74.31193%;
    float: left;
    margin-right: 2.75229%;
    background: #eeeeee;
    height: 100%;
    padding-top: 30px;
  }
}
/* line 451, ../../../sass/controller/frontend/global.scss */
.navbar_mobile .container_nav .menu_mobile li {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #898989;
}
/* line 456, ../../../sass/controller/frontend/global.scss */
.navbar_mobile .container_nav .menu_mobile li a {
  padding-left: 20px;
}
