@charset "UTF-8";
/* 
z-index 管理

用法如 :
.sidebar_mapgame{
    z-index: index($zindex, sidebar_mapgame);
}

 */
@media (min-width: 0px) {
  /* line 5, ../../../sass/controller/frontend/pt.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1280px) {
  /* line 5, ../../../sass/controller/frontend/pt.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0px) {
  /* line 21, ../../../sass/controller/frontend/pt.scss */
  .container .button_site {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 37px;
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  /* line 21, ../../../sass/controller/frontend/pt.scss */
  .container .button_site {
    width: 16.16766%;
    float: left;
    margin-right: 0.5988%;
    margin-left: 16.76647%;
    padding: 0;
  }
}
@media (min-width: 0px) {
  /* line 40, ../../../sass/controller/frontend/pt.scss */
  .container .button_site .item {
    width: 48.62385%;
    float: left;
    height: 29px;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container .button_site .item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container .button_site .item:nth-child(2n + 2) {
    margin-left: 51.37615%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 1280px) {
  /* line 40, ../../../sass/controller/frontend/pt.scss */
  .container .button_site .item {
    width: 65.4321%;
    float: left;
    height: 50px;
  }
  /* line 66, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .container .button_site .item:nth-child(1n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
}
@media (min-width: 0px) {
  /* line 57, ../../../sass/controller/frontend/pt.scss */
  .container .button_site .item a {
    width: 130px;
    height: 100%;
    line-height: 29px;
    padding: 0 8px;
    display: inline-block;
    font-size: 11px;
    background: white;
    border: 2px solid #4789c6;
  }
}
@media (min-width: 1280px) {
  /* line 57, ../../../sass/controller/frontend/pt.scss */
  .container .button_site .item a {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    border: 0px;
    line-height: 50px;
    font-size: 18px;
  }
}
@media (min-width: 0px) {
  /* line 83, ../../../sass/controller/frontend/pt.scss */
  .container .button_site .item a.selected {
    background: #4789c6;
    color: white;
    font-weight: bold;
  }
}
@media (min-width: 0px) {
  /* line 109, ../../../sass/controller/frontend/pt.scss */
  .container .pagesite {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px;
  }
}
@media (min-width: 1280px) {
  /* line 109, ../../../sass/controller/frontend/pt.scss */
  .container .pagesite {
    width: 49.7006%;
    float: left;
    margin-right: 0.5988%;
    clear: none;
    padding: 0;
  }
}
/* line 127, ../../../sass/controller/frontend/pt.scss */
.container .pagesite .page {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 0px) {
  /* line 132, ../../../sass/controller/frontend/pt.scss */
  .container .pagesite .page h1 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #465163;
  }
}
@media (min-width: 1280px) {
  /* line 132, ../../../sass/controller/frontend/pt.scss */
  .container .pagesite .page h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 0px) {
  /* line 153, ../../../sass/controller/frontend/pt.scss */
  .container .pagesite .page h2 {
    font-size: 14px;
    line-height: 1.5em;
    font-weight: bold;
    color: #465163;
  }
}
@media (min-width: 1280px) {
  /* line 153, ../../../sass/controller/frontend/pt.scss */
  .container .pagesite .page h2 {
    font-size: 24px;
  }
}
@media (min-width: 0px) {
  /* line 173, ../../../sass/controller/frontend/pt.scss */
  .container .pagesite .page p {
    font-size: 11px;
    line-height: 1.5em;
    margin-bottom: 22px;
    color: #898176;
  }
}
@media (min-width: 1280px) {
  /* line 173, ../../../sass/controller/frontend/pt.scss */
  .container .pagesite .page p {
    font-size: 16px;
  }
}
