@charset "UTF-8";
/* 
z-index 管理

用法如 :
.sidebar_mapgame{
    z-index: index($zindex, sidebar_mapgame);
}

 */
@media (min-width: 0px) {
  /* line 5, ../../../sass/controller/frontend/services.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    height: 100%;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1280px) {
  /* line 5, ../../../sass/controller/frontend/services.scss */
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
  }
  /* line 12, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0px) {
  /* line 22, ../../../sass/controller/frontend/services.scss */
  .container .itembox {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  /* line 22, ../../../sass/controller/frontend/services.scss */
  .container .itembox {
    margin-left: 16.76647%;
    margin-right: 16.76647%;
    width: 66.46707%;
    float: left;
    margin-right: 0.5988%;
    margin-bottom: 128px;
  }
}
/* line 35, ../../../sass/controller/frontend/services.scss */
.container .itembox:last-child {
  margin-bottom: 64px;
}
@media (min-width: 0px) {
  /* line 43, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) .divimg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 206px;
  }
}
@media (min-width: 1280px) {
  /* line 43, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) .divimg {
    width: 41.14114%;
    float: left;
    margin-right: 0.9009%;
    height: 350px;
  }
}
@media (min-width: 0px) {
  /* line 56, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) article {
    padding-bottom: 37px;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 5.50459%;
  }
}
@media (min-width: 1280px) {
  /* line 56, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) article {
    clear: none;
    padding: 0;
    width: 49.54955%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 0px) {
  /* line 72, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) article .title {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    font-size: 24px;
    margin: 32px 0;
    text-align: center;
    color: #465163;
  }
}
@media (min-width: 1280px) {
  /* line 72, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) article .title {
    margin: 0 0 32px 0;
    text-align: left;
  }
}
@media (min-width: 0px) {
  /* line 92, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) article .content {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 32px;
    text-align: left;
    color: #898176;
  }
}
@media (min-width: 0px) {
  /* line 108, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) article .btblock {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 64px;
  }
}
@media (min-width: 1280px) {
  /* line 108, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) article .btblock {
    text-align: left;
    margin-bottom: 0;
  }
}
@media (min-width: 0px) {
  /* line 124, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) article .btblock .more {
    border: 2px solid #4789c7;
    color: #4789c7;
    font-size: 16px;
    width: 110px;
    height: 30px;
    background: white;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
@media (min-width: 1280px) {
  /* line 124, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(odd) article .btblock .more {
    width: 186px;
    height: 50px;
    font-size: 24px;
  }
}
@media (min-width: 0px) {
  /* line 153, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) .divimg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 206px;
  }
}
@media (min-width: 1280px) {
  /* line 153, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) .divimg {
    width: 41.14114%;
    float: right;
    margin-right: 0;
    height: 350px;
  }
}
@media (min-width: 0px) {
  /* line 166, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) article {
    padding-bottom: 37px;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 5.50459%;
  }
}
@media (min-width: 1280px) {
  /* line 166, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) article {
    clear: none;
    padding: 0;
    width: 49.54955%;
    float: left;
    margin-right: 0.9009%;
  }
}
@media (min-width: 0px) {
  /* line 182, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) article .title {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    font-size: 24px;
    margin: 32px 0;
    text-align: center;
    color: #465163;
  }
}
@media (min-width: 1280px) {
  /* line 182, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) article .title {
    margin: 0 0 32px 0;
    text-align: right;
  }
}
@media (min-width: 0px) {
  /* line 200, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) article .content {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 32px;
    text-align: right;
    color: #898176;
  }
}
@media (min-width: 0px) {
  /* line 216, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) article .btblock {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 64px;
  }
}
@media (min-width: 1280px) {
  /* line 216, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) article .btblock {
    text-align: right;
    margin-bottom: 0;
  }
}
@media (min-width: 0px) {
  /* line 232, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) article .btblock .more {
    border: 2px solid #4789c7;
    color: #4789c7;
    font-size: 16px;
    width: 110px;
    height: 30px;
    background: white;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
@media (min-width: 1280px) {
  /* line 232, ../../../sass/controller/frontend/services.scss */
  .container .itembox:nth-child(even) article .btblock .more {
    width: 186px;
    height: 50px;
    font-size: 24px;
  }
}
