@import "../../config/global";


.container 
{
    @include _break("mobile")
    {
        @include container;
    }
    @include _break("pad")
    {
        @include container;
    }
    @include _break("desktop")
    {
        @include container;
    }

    .banner 
    {
        @include _break("mobile")
        {
            @include divimg_cover(initial, 209px, $base_path + 'images/about/banner-01.jpg');
            margin-bottom: 38px;
        }
        @include _break("pad")
        {
            
        }
        @include _break("desktop")
        {
            @include divimg_cover(initial, 648px, $base_path + 'images/about/banner-02.jpg');
            margin-bottom: 64px;
        }
        
    }

    .info
    {
        @include _break("mobile")
        {
            padding: 0 20px;
            text-align: center;
        }
        @include _break("pad")
        {
            
        }
        @include _break("desktop")
        {
            padding: 0px;
            @include squish(2 of 12, 2 of 12); 
        }

        .slogan   
        {
            @include _break("mobile")
            {
                font-size: 28px;
                line-height: 69px;
                border-top: 2px solid #D4D4D4;
                border-bottom: 2px solid #D4D4D4;
                margin-bottom: 38px;
                color: $article-color-title;
                font-weight: bolder;
            }
            @include _break("pad")
            {
                
            }
            @include _break("desktop")
            {
                font-size: 60px;
                line-height: 130px;
            }
            
        }

        .content
        {
            @include _break("mobile")
            {
                @include full;
                opacity: 1;
            }
            @include _break("pad")
            {
                opacity: 1;
            }
            @include _break("desktop")
            {
                opacity: 0;
            }

            .iconsite
            {
                @include _break("mobile")
                {
                    @include full;
                    margin-bottom: 38px;
                    height: 100%;
                }
                @include _break("pad")
                {
                    
                }
                @include _break("desktop")
                {
                    margin-bottom: 0;
                    @include span(3 of 12);
                }
                
                .iimg
                {
                    @include _break("mobile")
                    {
                        
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        max-width: span(3 of 3) - 1%;
                    }
                    
                }


                .mobile 
                {
                    @include _break("mobile")
                    {
                    }
                    @include _break("pad")
                    {
                    }
                    @include _break("desktop")
                    {
                        display: none;
                    }
                    
                }

                .desktop
                {
                    @include _break("mobile")
                    {
                        display: none;
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        display: inline-block;
                    }
                    
                }
            }

            .desc 
            {
                @include _break("mobile")
                {
                    margin-bottom: 38px;
                }
                @include _break("pad")
                {
                    
                }
                @include _break("desktop")
                {
                    @include span(last 9 of 12);
                    text-align: left;
                }
                
                p 
                {
                    @include _break("mobile")
                    {
                        line-height: 1.5em;
                        margin-bottom: 14px;
                        font-size: 10px;
                        color: $article-color-content;
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        font-size: 18px;
                        line-height: 1.5em;
                        margin-bottom: 18px;
                    }
                    

                    &:last-child 
                    {
                        margin-bottom: 0px;
                    }
                }
            }
            
        }
        
    }
    
}