@import "../../config/global";

$lr-gutter : 36px;



.container 
{
    @include _break("mobile")
    {
        @include container;
        margin-top: 40px;
    }
    @include _break("pad")
    {
    }
    @include _break("desktop")
    {
        @include container;
        margin-top: 64px;
    }

    .center
    {
        @include _break("mobile")
        {
            
        }
        @include _break("pad")
        {
            
        }
        @include _break("desktop")
        {
            @include span(12 of 18);
            @include squish(3 of 18, 3 of 18);
        }
        
    }
    
    .offino
    {

        @include _break("mobile")
        {
            @include full;
            font-size: 18px;
            font-weight: bold;
            padding: 0 $lr-gutter;
            margin-bottom: 18px;
            text-align: center;
            color: $article-color-title;
        }
        @include _break("pad")
        {
            
        }
        @include _break("desktop")
        {
            font-size: 30px;
            margin-bottom: 32px;
            padding: 0px;
        }
        
    }

    .sitelist
    {
        @include _break("mobile")
        {
            @include full;
            padding: 0 $lr-gutter;
        }
        @include _break("pad")
        {
            
        }
        @include _break("desktop")
        {
            padding: 0;
            @include span(10 of 12);
            @include squish(1 of 12);
        }
        

        .site 
        {
            @include _break("mobile")
            {
                @include full;
                margin-bottom: 38px;
            }
            @include _break("pad")
            {
                
            }
            @include _break("desktop")
            {
                clear: none;
                // @include gallery(6 of 12); 
            }



            &:first-child 
            {
                @include _break("desktop")
                {
                    @include span(4 of 10);
                }
            }

            &:last-child 
            {
                @include _break("desktop")
                {
                    @include span(last 4 of 10);
                }
            }


            .title
            {
                @include _break("mobile")
                {
                    @include full;
                    font-size: 14px;
                    margin-bottom: 22px;
                    color: $article-color-title;
                }
                @include _break("pad")
                {
                    
                }
                @include _break("desktop")
                {
                    font-size: 24px;
                }
                
            }

            ul 
            {
                @include full;

                li 
                {
                    @include _break("mobile")
                    {
                        @include full;
                        font-size: 11px;
                        display: inline-block;
                        position: relative;
                        color: $article-color-content;
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        font-size: 16px;
                        // height: 36px;

                    }
                    

                    .iconblock
                    {
                        display: inline-block;
                        width: 30px;
                    }

                    .icon
                    {
                        display: inline-block;
                        position: absolute;
                        top: 2px;

                        &.address 
                        {
                            width: 20px;
                            height: 20px;
                            background-image: url($base_path + 'images/contact/icon-address.png');
                        }
                        &.email 
                        {
                            width: 20px;
                            height: 20px;
                            background-image: url($base_path + 'images/contact/icon-email.png');
                        }
                        &.tel 
                        {
                            width: 20px;
                            height: 20px;
                            background-image: url($base_path + 'images/contact/icon-tel.png');
                        }
                    }

                    .text 
                    {
                        display: inline-block;
                        line-height: 27px;
                        width: calc(100% - 35px);

                    }
                }
            }
        }

    }

    .form1
    {
        @include _break("mobile")
        {
            background: #f6f6f6;
            @include full;
            padding: 20px $lr-gutter;
        }
        @include _break("pad")
        {
            
        }
        @include _break("desktop")
        {
            padding: 20px 0;
        }
        

        .desc 
        {
            @include _break("mobile")
            {
                font-size: 11px;
                margin-bottom: 20px;
                line-height: 1.5em;
                color: $article-color-content;
            }
            @include _break("pad")
            {
                
            }
            @include _break("desktop")
            {
                font-size: 16px;
                text-align: center;
                margin-bottom: 36px;
            }
            
        }

        ul 
        {
            @include _break("mobile")
            {
                
            }
            @include _break("pad")
            {
                
            }
            @include _break("desktop")
            {
                @include span(8 of 12);
                @include squish(2 of 12);
                position: relative;
            }
            
            li 
            {
                @include _break("mobile")
                {
                    @include gallery(2 of 4); 
                    margin-bottom: 10px;
                }
                @include _break("pad")
                {
                    
                }
                @include _break("desktop")
                {
                    @include span(3 of 8);
                    margin-left: 0px !important;
                    margin-right: 0px !important;
                    margin-bottom: 23px;
                }
                
                

                &.fir 
                {
                    @include _break("mobile")
                    {
                        
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        @include break;
                    }
                }

                &.sec 
                {
                    @include _break("mobile")
                    {
                        
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        position: absolute;
                        top: 0px;
                        left: span(3 of 8);
                    }
                    
                }

                &.thi
                {
                    @include _break("mobile")
                    {
                        
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        position: absolute;
                        top: 0px;
                        left: 69%;
                    }
                    
                }

                &.fullgrid
                {
                    @include _break("mobile")
                    {
                        @include full;
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        position: absolute;
                        width: span(5 of 8);
                        top: 73px;
                        left: span(3 of 8);
                    }
                    
                }

                .title 
                {
                    @include _break("mobile")
                    {
                        font-size: 11px;
                        height: 15px;
                        @include full;
                        // font-weight: bold;
                        color: $article-color-content;
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                    
                }

                .inputstyle 
                {
                    @include _break("mobile")
                    {
                        @include border-radius(3px);
                        border: 1px solid #E7E7E7;
                        height: 20px;
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {

                    }
                    
                }

                .userdata
                {
                    @include _break("mobile")
                    {
                        @include full;
                        color: $article-color-content;
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        width: span(2.55 of 3);
                        height: 29px;
                        line-height: 29px;
                    }
                    
                }
                
                .message
                {
                    @include _break("mobile")
                    {
                        @include full;
                        height: 100px;
                        @include border-radius(3px);
                        border: 1px solid #E7E7E7;
                        resize: none;
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        $a : span(8 of 8) + gutter(8);
                        width: $a;
                        height: 170px;
                    }
                    
                }

                
            }
        }

        .btsite
        {
            @include _break("mobile")
            {
                @include full;
                text-align: right;
            }
            @include _break("pad")
            {
                
            }
            @include _break("desktop")
            {
                @include span(8 of 12);
                @include squish(2 of 12);
            }
            

            .submit 
            {
                background: $button-background;
                font-size: 15px;
                border: none;
                @include border-radius(5px);
                width: 110px;
                height: 30px;
                color: $button-text;
            }
        }
    }
}