@import "../../config/global";

.container  
{
    @include _break("mobile")
    {
        @include container;
    }
    @include _break("pad")
    {
        @include container;
    }
    @include _break("desktop")
    {
        @include container;
        margin-top: 64px;
    }


    .plist
    {
        @include _break("mobile")
        {
            @include full;
            padding: 0 20px;
        }
        @include _break("pad")
        {
            
        }
        @include _break("desktop")
        {
            padding: 0px;
            @include span(12 of 18);
            @include squish(3 of 18);
        }

        .company
        {
            @include _break("mobile")
            {
                @include full;
                margin-bottom: 36px;
            }
            @include _break("pad")
            {
            }
            @include _break("desktop")
            {
                margin-bottom: 128px;
            }

            &:last-child 
            {
                @include _break("mobile")
                {
                }
                @include _break("pad")
                {
                }
                @include _break("desktop")
                {
                    margin-bottom: 64px;
                }
            }

            .logosite
            {
                @include _break("mobile")
                {
                    @include full;
                    margin-bottom: 16px;
                }
                @include _break("pad")
                {
                    
                }
                @include _break("desktop")
                {
                    @include span(4 of 12);
                    margin-bottom: 0px;
                }
                
                .logo 
                {
                    @include _break("mobile")
                    {
                        margin: 0 auto;
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                    }

                    &.original
                    {
                        @include _break("mobile")
                        {
                            @include divimg_cover(166px, 92px, $base_path + 'images/partners/logo-origin.png');
                        }
                        @include _break("pad")
                        {
                            
                        }
                        @include _break("desktop")
                        {
                            @include divimg_cover(380px, 150px, $base_path + 'images/partners/logo-origin-2.png');
                        }
                        
                    }

                    &.hoceans
                    {
                        @include _break("mobile")
                        {
                            @include divimg_contain(166px, 92px, $base_path + 'images/partners/logo-hoceans.png');
                        }
                        @include _break("pad")
                        {
                            
                        }
                        @include _break("desktop")
                        {
                            @include divimg_cover(380px, 150px, $base_path + 'images/partners/logo-hoceans-2.png');
                        }
                    }

                    &.topview 
                    {
                        @include _break("mobile")
                        {
                            @include divimg_contain(166px, 92px, $base_path + 'images/partners/logo-topview.png');
                        }
                        @include _break("pad")
                        {
                            
                        }
                        @include _break("desktop")
                        {
                            @include divimg_contain(380px, 150px, $base_path + 'images/partners/logo-topview-2.png');
                        }
                        
                    }
                }                
            }

            .desc
            {
                @include _break("mobile")
                {
                    @include full;
                    border-left: 3px #efefef solid;
                    padding: 0 20px 12px 20px;
                }
                @include _break("pad")
                {
                    
                }
                @include _break("desktop")
                {
                    clear: none;
                    @include span(7 of 12);
                    height: 150px;
                    padding: 0;
                    padding-left: 14px;
                }

                .title 
                {
                    @include _break("mobile")
                    {
                        font-size: 16px;
                        line-height: 1.5em;
                        color: #465163;
                        margin-bottom: 7px;
                    }
                    @include _break("pad")
                    {
                        
                    }
                    @include _break("desktop")
                    {
                        font-size: 24px;
                        line-height: 1.5em;
                        margin-bottom: 12px;
                    }

                    .text 
                    {
                        display: inline-block;
                    }

                    .point
                    {
                        @include _break("mobile")
                        {
                            margin-left: 1em;
                            display: inline-block;
                            position: relative;
                            top: 2px;
                            @include divimg_contain(15px, 15px, $base_path + 'images/partners/point.png');

                        }
                        @include _break("pad")
                        {
                            
                        }
                        @include _break("desktop")
                        {
                            width: 26px;
                            height: 26px;
                            top: 4px;
                        }
                        
                    }
                    
                }
                .content 
                {
                    p 
                    {
                        

                        @include _break("mobile")
                        {
                            font-size: 10px;
                            line-height: 1.5em;
                            color: #898176;
                        }
                        @include _break("pad")
                        {
                            
                        }
                        @include _break("desktop")
                        {
                            font-size: 16px;
                            
                        }
                        
                    }
                }
                
            }
        }
        
    }    
}