@import "../../config/global";



.container
{
    @include _break("mobile")
    {
        @include container;
        @include break;
        height: 100%;
        
    }
    @include _break("desktop")
    {
        @include container;
        margin-top: 64px;
    }
    


    .itembox 
    {
        @include _break("mobile")
        {
            @include full;
        }
        @include _break("desktop")
        {
            @include squish(3, 3); 
            @include span(12);
            margin-bottom: 128px;
        }

        &:last-child
        {
            margin-bottom: 64px;
        }

        // 奇數
        &:nth-child(odd)
        {
            .divimg
            {
                @include _break("mobile")
                {
                    @include divimg_cover(initial, 206px, null);
                }
                @include _break("desktop")
                {
                    @include span(5 of 12);
                    height: 350px;
                }
            }

            article
            {
                @include _break("mobile")
                {
                    padding-bottom: 37px;
                    @include full;
                    padding: 0 gutter(4) * 2;
                }
                @include _break("desktop")
                {
                    clear: none;
                    padding: 0;
                    @include span(last 6 of 12);
                }
                

                .title 
                {
                    @include _break("mobile")
                    {
                        @include full;
                        font-size: 24px;
                        margin: 32px 0;
                        text-align: center;
                        color: #465163;
                    }

                    @include _break("desktop")
                    {
                        margin: 0 0 32px 0;
                        text-align: left;
                    }
                    
                    
                }

                .content 
                {
                   
                    @include _break("mobile")
                    {
                        @include full;
                        font-size: 16px;
                        line-height: 1.5em;
                        margin-bottom: 32px;
                        text-align: left;
                        color: #898176;
                    }
                    
                    
                }

                .btblock 
                {
                    
                    @include _break("mobile")
                    {
                        @include full;
                        text-align: center;
                        margin-bottom: 64px;
                    }
                    @include _break("desktop")
                    {
                        text-align: left;
                        margin-bottom: 0;
                    }
                    

                    .more
                    {
                        @include _break("mobile")
                        {
                            border: 2px solid $button-background;
                            color: $button-background;
                            font-size: 16px;
                            width: 110px;
                            height: 30px;
                            background: white;
                            cursor: pointer;
                            @include border-radius(5px);
                        }
                        @include _break("desktop")
                        {
                            width: 186px;
                            height: 50px;
                            font-size: 24px;
                        }
                        
                        
                    }
                }
            }
        }

        // 偶數
        &:nth-child(even)
        {
            .divimg
            {
                @include _break("mobile")
                {
                    @include divimg_cover(initial, 206px, null);
                }
                @include _break("desktop")
                {
                    @include span(last 5 of 12);
                    height: 350px;
                }
            }

            article
            {
                @include _break("mobile")
                {
                    padding-bottom: 37px;
                    @include full;
                    padding: 0 gutter(4) * 2;
                }
                @include _break("desktop")
                {
                    clear: none;
                    padding: 0;
                    @include span(6 of 12);
                }
                

                .title 
                {
                    @include _break("mobile")
                    {
                        @include full;
                        font-size: 24px;
                        margin: 32px 0;
                        text-align: center;
                        color: #465163;
                    }

                    @include _break("desktop")
                    {
                        margin: 0 0 32px 0;
                        text-align: right;
                    }
                }

                .content 
                {
                   
                    @include _break("mobile")
                    {
                        @include full;
                        font-size: 16px;
                        line-height: 1.5em;
                        margin-bottom: 32px;
                        text-align: right;
                        color: #898176;
                    }
                    
                    
                }

                .btblock 
                {
                    
                    @include _break("mobile")
                    {
                        @include full;
                        text-align: center;
                        margin-bottom: 64px;
                    }
                    @include _break("desktop")
                    {
                        text-align: right;
                        margin-bottom: 0;
                    }
                    

                    .more
                    {
                        @include _break("mobile")
                        {
                            border: 2px solid $button-background;
                            color: $button-background;
                            font-size: 16px;
                            width: 110px;
                            height: 30px;
                            background: white;
                            cursor: pointer;
                            @include border-radius(5px);
                        }
                        @include _break("desktop")
                        {
                            width: 186px;
                            height: 50px;
                            font-size: 24px;
                        }
                        
                        
                    }
                }
            }
        }
        
        

        
    }
}

